.cart {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cart2 {
    font-size: x-large;
    font-weight: bold;
}

.cart3 {
    /* Left: 50%; */
    /* transform: translateX(40%); */
    align-self: center;
}

.cartItem {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    background-color: gainsboro;
}

.cartTitle {
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}

.cartImage {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.deleteBttn {
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}